<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta charset="utf-8">

	<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>angular-mood</title>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
		<script type="text/javascript" src="bower_components/tinycolor/tinycolor.js"></script>
		<script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="bower_components/Chart.js/Chart.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
		<script type="text/javascript" src="bower_components/angular-mood/angular-mood.js"></script>
		<script type="text/javascript" src="bower_components/angularUtils-pagination/dirPagination.js"></script>

		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/controllers.js"></script>
		<script type="text/javascript" src="scripts/services.js"></script>




		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="bower_components/angular-mood/angular-mood.css" rel="stylesheet">
		<link href="bower_components/angular-chart.js/dist/angular-chart.css" rel="stylesheet">
		<link href="styles/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-10-04/dd68f538452805fe203ce724c75002ae.ico.png"></style>
		<link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300,400,600,700'	rel="stylesheet">
</head>

<body ng-app="rest-mood-app">
	<div class="container">

		<div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right" ng-controller="HomeCtrl">
          <li role="presentation" class="active"><a href="http://dnmilne.github.io/angular-mood/" target="_blank">GitHub</a></li>
          <BR>
		  <li ng-show="{{token !== undefined}}" role="presentation" class="active"><button ng-click="logout()" class="btn btn-warning">Log out</button></li>
        </ul>
      </nav>
      <h3 class="text-muted">
				<img src="res/logo.png" class="" alt="Smile image"/> How's your mood?
			</h3>
    </div>
		<div ng-view="">

		</div>
		<footer class="footer" >
			<p>:: 'How's your mood?' :: Programming Exercise :: Senior Software Engineer (ref: 1728/0815) :: The University of Sydney :: Oct/2015 ::</p>
		</footer>
	</div>
</body>
	</html>
