<div id="canvas-holder" class="well centralized-100" style="width: 95%;" ng-init="listMood()">
	 <form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th ng-click="sort('name')">Mood</th>
				     <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				<th ng-click="sort('description')">Description</th>
					<span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				<th ng-click="sort('tstamp')">Date</th>
					<span class="glyphicon sort-icon" ng-show="sortKey=='tstamp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="report in rList|filter:search|orderBy:sortKey:reverse|itemsPerPage:15">
				<td>{{report.name}}</td>
				<td>{{report.description}}</td>
				<td>{{report.tstamp | date:'medium'}}</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
        max-size="15"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>
    <BR><BR>
    <a ng-href="#/reports" class="btn btn-primary centralized-40">back</a>
</div>
