		<div class="centralized-60">
			<div class="social-box form-signin mg-btm">
				<div class="row mg-btm">
					<!-- <div class="col-md-12"> -->
					<BR>
						<button onclick="login()" id="icon-facebook"
							class="btn btn-primary btn-block">Login with Facebook</button>
				</div>
			</div>
		</div>

<script>
	var angularScope = angular
			.element(document.getElementById('icon-facebook')).scope();
			var calledByLoginButton = false;
	function login() {

		FB.login(function(response) {
			// handle the response
			console.log(JSON.stringify(response));
			calledByLoginButton = true;
			checkLoginState();
		}, {
			scope : 'public_profile,email'
		});
	}

	function logout() {
		FB.logout(function(response) {
			console.log(JSON.stringify(response));
			checkLoginState();
		});
	}

	// This is called with the results from from FB.getLoginStatus().
	function statusChangeCallback(response) {
		console.log("statusChangeCallback called...");
		console.log("STATUS " + response.status);
		// The response object - current login status of user.
		if (response.status === 'connected') {
			console.log("TOKEN " + angularScope.token);

			console.log("login button " + calledByLoginButton);
			if(!(calledByLoginButton) && !(angularScope.token)) {
				console.log(" calling logout... ");
				logout();
			} else {
				testAPI();
			}
			// Logged into the app and Facebook.

		} else if (response.status === 'not_authorized') {
			// User is logged into Facebook, but not to the app.
			document.getElementById('status').innerHTML = 'Please log '
					+ 'into this app.';
		} else {
			// User is not logged into Facebook
			//document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
		}
	}

	// This function is called when someone finishes with the Login
	// Button.  See the onlogin handler attached to it in the sample
	// code below.
	function checkLoginState() {
		console.log("checkLoginState called...");
		FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
		});
	}

	//created app on Fb (appID to update to another app)
	window.fbAsyncInit = function() {
		FB.init({
			appId : '1668118080069111',
			xfbml : true,
			version : 'v2.4'
		});

		// Next function gets the state of the
		// user visiting the page and can return one of three states to
		// the callback that is provided.  They can be:
		//
		// 1. Logged into your app ('connected')
		// 2. Logged into Facebook, but not your app ('not_authorized')
		// 3. Not logged into Facebook and can't tell if they are logged into
		//    your app or not.
		//
		// These three cases are handled in the callback function.

		FB.getLoginStatus(function(response) {
			console.log("getLoginStatus called...");
			statusChangeCallback(response);
		});

	};

	(function(d, s, id) {
		console.log("Requesting facebook sdk.js");
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement(s);
		js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function testAPI() {
		console.log('Welcome!  Fetching your information.... ');
		FB
				.api(
						'/me?fields=email,name',
						function(response) {

							console.log(JSON.stringify(response));
							console.log('Successful login for: '
									+ response.name + ' email: '
									+ response.email);
							document.getElementById('status').innerHTML = 'Thanks for logging in, '
									+ response.name + '!';

							angularScope.user = response;
							angularScope.signin();

						});
	}
</script>

<div id="status"></div>
