	<div class="well centralized-40" style="width:35%;">
		<mood-canvas selected="mood" hovered="hoveredInCanvas"counts="counts" config="config" ng-click="selectMood()">
		</mood-canvas>
		<mood-matrix selected="mood" hovered-in-canvas="hoveredInCanvas"hovered-in-matrix="hoveredInMatrix" config="config">
		</mood-matrix>
	</div><BR><BR>
	<button ng-click="showReports()" class="btn btn-success" style="margin-left: 60px; width: 20%;" >Dashboards</button>
