{{checkSelectedMood()}}
<div id="canvas-holder" class="well centralized-40" style="width: 55%;"
	ng-style="{'background-color':bgCol}">
	<h1>I'm feeling... {{mood.name}}</h1>
	<BR>
	<textarea ng-model="comment.Comment.body"
		placeholder="Please describe why" ng-keypress="updateBody();"
		cols="50" rows="5" ng-style="{'background-color':bgCol}"  name="textarea_2" id="textarea_2" required="false">
	</textarea>
	<h5>{{commentLength}} remaining</h5>
	<BR>
	<button ng-click="saveMood()" class="btn btn-success"
		style="margin-left: 60px; width: 60%;">Confirm</button>
	<a ng-href="#/matrix" class="btn btn-primary"
		style="margin-left: 60px; width: 60%;">Back</a>
</div>
<BR>
