<div id="canvas-holder" class="well centralized-80" style="width: 65%;" ng-init="showReports()">
	<h2>Your detailed report with descriptions are...</h2>
	<BR>
	<button ng-click="listMood()" class="btn btn-success"
		style="margin-left: 200px; width: 40%;">here</button>

	<BR> <BR>
	<h2>Your Top 10 moods are...</h2>
	<canvas id="radar" class="chart chart-radar" chart-data="radardata"
		chart-labels="radarlabels" chart-series="radarseries"
		chart-legend="true">
	</canvas>
	<BR> <BR>
	<h2>Since you started using this app... [%]</h2>
	<canvas id="doughnut" class="chart chart-doughnut"
		chart-data="moodChartData" chart-labels="moodChartLabels"
		chart-colours="moodChartcolors" chart-legend="true">
	</canvas>
	<BR> <BR>
	<h2>This year... [{{currentYear}}]</h2>
	<canvas id="line" class="chart chart-line" chart-data="linedataX"
		chart-labels="linelabels" chart-colours="moodChartcolors"
		chart-legend="true" chart-series="lineseries" chart-click="onClick">
	</canvas>
	<BR> <BR>
	<h2>Last 3 years...</h2>
	<canvas id="bar" class="chart chart-bar" chart-data="yeardata"
		chart-labels="yearlabels" chart-colours="moodChartcolors"
		chart-legend="true" chart-series="yearseries">
	</canvas>

	<a ng-href="#/matrix" class="btn btn-primary centralized-40">back</a>
</div>
{{loadMoodsChart()}} {{updateMonthsSeriesData()}}
{{updateYearsSeriesData()}} {{getCurrentYear()}}
{{updateRadarSeriesData()}}
