body {
	background: #fff;
	width: 100%;
}

.centralized-100 {
	max-width: 100%;
	margin: 0 auto;
}

.centralized-80 {
	max-width: 80%;
	margin: 0 auto;
}

.centralized-60 {
	max-width: 60% !important;
	margin: 0 auto !important;
}

.centralized-40 {
	max-width: 40% !important;
	margin: 0 auto !important;
}

.centralized-20 {
	max-width: 20%;
	margin: 0 auto;
}

#canvas-holder {
	width: 30%;
}

ul.err-area li {
	color: red
}

.data-table {
	float: left;
	display: inline-block
}

.data-table table {
	border-collapse: collapse;
	border: 1px solid #ddd;
}

.page-data {
	float: left;
	display: inline-block;
}

.legend {
	border: 1px solid #555555;
	border-radius: 5px 5px 5px 5px;
	font-size: 0.8em;
	margin: 10px;
	padding: 8px;
}

.bld {
	font-weight: bold;
}

.form-signin {
	max-width: 400px;
	display: block;
	background-color: #f7f7f7;
	-moz-box-shadow: 0 0 3px 3px #888;
	-webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
	border-radius: 2px;
}

.main {
	padding: 38px;
}

.social-box {
	margin: 0 auto;
	padding: 38px;
	border-bottom: 1px #ccc solid;
}

.social-box a {
	font-weight: bold;
	font-size: 18px;
	padding: 8px;
}

.social-box a i {
	font-weight: bold;
	font-size: 20px;
}

.heading-desc {
	font-size: 20px;
	font-weight: bold;
	padding: 38px 38px 0px 38px;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: 20px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: 10px;
	border-radius: 5px;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-radius: 5px;
}

.login-footer {
	background: #f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding: 20px;
}

.login-footer .left-section a {
	font-weight: bold;
	color: #8a8a8a;
	line-height: 19px;
}

.mg-btm {
	margin-bottom: 20px;
}

.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4bb55;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 0px 0 0 0px;
}

#boxmodel,#boxmodel div {
	align-items: center;
	border-radius: 5px;
	box-sizing: border-box;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn {
	margin-bottom: 0px;
}

#angular-center-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
	pointer-events: none;
	z-index: 9999;
}

#angular-centered {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/*---- headers ----*/
h1,h2,h3 {
	margin: 40px 20px 15px 20px;
	font: normal 44px/1.2 'Bree Serif', Georgia, serif;
	clear: left;
}

h1 {
	font-size: 40px;
	margin-top: 25px;
	margin-left: 20px;
	color: #fff;
}

h2,h2 a {
	font-size: 24px;
	color: #8b2;
}

h4 {
	font-size: 20px;
	margin-top: 25px;
	margin-left: 20px;
	color: #A4A4A4;
}

h5 {
	font-size: 14px;
	margin-top: 25px;
	margin-left: 20px;
	color: #fff;
}

article h2,article p,article h3 {
	margin-left: 20px;
	margin-right: 20px;
}

/*---- footer ----*/
.footer {
	font-size: 12px;
	line-height: 40px;
	vertical-align: middle;
	padding-left: 190px;
	background: #f0f0f0;
	margin-top: 25px;
}

#site_footer p {
	display: inline;
}

#site_footer a {
	color: #3a607b;
	color: rgba(119, 204, 255, .3);
	border-bottom: 1px solid #2a4156;
}

#site_footer a:hover {
	color: #7cf;
	border-color: #7cf;
}


::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}
:-ms-input-placeholder {
    color:    #fff;
}

/* Different color for some fields */

#name_2::-webkit-input-placeholder,
#textarea_2::-webkit-input-placeholder
{
  color:    #fff;
}

#name_2:-moz-placeholder,
#textarea_2:-moz-placeholder 
{
  color:    #fff;
}

#name_2::-moz-placeholder,
#textarea_2::-moz-placeholder 
{
  color:    #fff;
}

#name_2:-ms-input-placeholder,
#textarea_2:-ms-input-placeholder 
{
  color:    #fff;
}
